.mange-put-page {
  .radio-group {
    // text-align: center;
    padding-bottom: 20px;
  }
  .add-button {
    float: right;
    margin-bottom: 20px;
  }
  .ant-radio-wrapper {
    margin-left: 6px;
  }
}