.approval-content {
  padding: 30px 100px;
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  .next-button {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}